* {
    margin: 0px;
    padding: 0px;
}
.heading {
    background-image: linear-gradient(to right, rgb(221, 21, 21), rgb(189, 91, 16), rgb(207, 21, 21));
    justify-content: center;
    display: flex;
    justify-content: left;
    align-items: center;
}

nav {
    position: sticky;
    top: 0px;
}

nav .heading .headings ul li {
    display: inline-block;
    margin: 16px;
    /* position: sticky; */
    padding-top: 14px;
    font-family: 'Lato', sans-serif;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    color: white;
}

.profile {
    align-items: center;
    border-radius: 50px;
    height: 54px;
    width: 54px;
    margin-right: 25px;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100vw;
    height: auto;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    text-decoration: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}



/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 5
    }
}

.vl {
    border-left: 1px solid white;
    height: 0px;
}

.Home {
    font-weight: lighter;
    transition: bold 0.5s;
}

.Home:hover {
    font-weight: bold;
}

.About {
    font-weight: lighter;
    transition: bold 0.5s;
}

.About:hover {
    font-weight: bold;
}

.Contact {
    font-weight: lighter;
    transition: bold 0.5s;
}

.Contact:hover {
    font-weight: bold;
}

.search:hover {
    width: 330px;
}

.search {
    border-radius: 20px;
    background-color: white;
    height: 33px;
    width: 220px;
    border: 1px white solid;
    /* align-items: right; */
    justify-content: center;
    padding: 17px;
    margin: 0px 0px 0px 0px;
    transition-duration: 1s;

}
.btn{
    background-color: transparent;
    border: white solid 2px;
    border-radius: 20px;
    color: white;
    display: inline-block;
    height: 36px;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 4px;
    width: 100px;
    margin-left: 39px;
    margin-bottom: 4px;
}
.icon {
    margin-left: 500px;
    width: 0px;
}

#top {
    width: 100vw;
    height: 20vh;
    background-image: linear-gradient(to bottom, rgb(112, 13, 61), rgb(8, 3, 3));
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, rgb(112, 13, 61), rgb(8, 3, 3));
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 1s infinite linear;
}

@keyframes loader {
    50% {
        transform: rotate(360deg);
    }
}

.Welcome {
    position: relative;
    float: right;
    color: #Fff;
    right: 2%;
    top: 31%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-family: 'Playfair Display', serif;
    animation: welcome 2s 1 cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes welcome {
    from {
        transform: translateX(400px);
    }
}

.last {
    background: red;
    position: relative;
    transition: 3s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-name: last;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes last {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#progress {
    /* border-radius: 50%; */
    background-image: linear-gradient(to right, black, black);
}

.unique::before {
    background: url('https://images.unsplash.com/photo-1504275107627-0c2ba7a43dba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80') no-repeat center center/cover;
    content: "";
    position: absolute;
    top: 129vh;
    left: 0;
    width: 100vw;
    height: 105vh;
    z-index: -1;
    opacity: 0.4;
}

#unique {
    height: 100vh;
    font-family: 'Bree Serif', serif;
    margin: 3px 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.ab::before {
    background: url('https://images.unsplash.com/photo-1593699153969-4b3a1aff4066?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80') no-repeat center center/cover;
    content: "";
    position: absolute;
    top: 234vh;
    left: 0;
    width: 100vw;
    height: 105vh;
    z-index: -1;
    /* margin-top: 4px; */
    opacity: 0.4;
}

#ab {
    height: 100vh;
    font-family: 'Bree Serif', serif;
    margin: 3px 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.co::before {
    background: url('https://images.unsplash.com/photo-1496459169807-866e74594fa8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80') no-repeat center center/cover;
    content: "";
    position: absolute;
    top: 339vh;
    left: 0;
    width: 100vw;
    height: 105vh;
    z-index: -1;
    /* margin-top: 4px; */
    opacity: 0.4;
    animation: contact 1s ease-in infinite;
    transition: 1s ease-in-out;
}

#co {
    height: 100vh;
    font-family: 'Bree Serif', serif;
    margin: 3px 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 1s ease-in-out;
}

#text:hover{
    scale: (1.5);
}
.press,
.transition {
    position: fixed;
    width: 30px;
    height: 30px;
    bottom: 2vh;
    background-color: green;
    border-radius: 50%;
    right: 2vw;
    border: none;
    transition: 200ms linear;
}

.press:hover {
    width: 35px;
    height: 35px;
    box-shadow: 0px 0px 12px rgb(15, 215, 8);

}

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}

#up {
    transition: 250ms ease-in;

}

#up:hover {
    box-shadow: 0px 0px 10px white;
}

* {
    margin: 0%;
    padding: 0%;
}

footer .footer{
    width: 100vw;
    height: 10vh;
    background-color: black;
    position: absolute;
    top: 444vh;
    /* right: 2px; */
}

#copyright{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    height: 10vh;
}

/* Scroll Bar */

/* width */
::-webkit-scrollbar {
    width: 0.5vw;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    background-color:#f1f1f1;
    /* border-radius: 10px; */
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:#555;
  }